@use '../../base/media' as *;
@use '../../base/mixins' as *;
:root {
    --vh: 1vh;
    --section-rect-pad-top: calc(5rem + 2.5rem);
    --section-rect-pad-bottom: calc(5rem + 2.5rem);
}

.preloader {
    position: absolute;
    background: var(--light-grey);
    width: 100%;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
    transition: 0.5s linear;
    img {
        max-width: 500px;
        width: 100%;

        @include media('mobile') {
            max-width: 250px;
        }
    }

    &.hide {
        opacity: 0;
    }
}

.main--home {
    .hero {
        min-height: calc(200 * var(--vh));
        position: relative;
        --section-rect-inner-min-height: calc(
            (100 * var(--vh)) - var(--section-rect-pad-top) -
                var(--section-rect-pad-bottom)
        );

        @include media('mobile') {
            min-height: calc(179 * var(--vh));
        }

        canvas {
            pointer-events: none;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: 0.5s linear;
            transform: translateY(100%);

            &.show {
                transform: translateY(0%);
                opacity: 1;
            }
        }

        &__prev {
            position: absolute;
            height: 100vh;
            width: 100%;
            pointer-events: none;
            z-index: 10;
            opacity: 1;
            visibility: visible;
            transition: 0.5s linear;

            &-sm {
                display: grid;
                overflow: hidden;
                transition: grid-template-rows 0.5s linear, height 0.5s linear;
                top: 0;
                position: absolute;
                z-index: 4;
                left: 50%;
                top: 50%;
                width: 660px;
                height: 0;
                transform: translate(-50%, -50%);

                @include media('tablet') {
                    width: 460px;
                }
                @include media('mobile') {
                    width: 300px;
                }
            }

            &-lg {
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                transition: 0.5s linear;
                transform: translateY(100%);

                &::before {
                    z-index: 5;
                    content: '';
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0.8;
                    background: linear-gradient(
                        90deg,
                        #070707 -1.17%,
                        #001208 100%
                    );
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &.show {
                .hero__prev-sm {
                    height: 764px;

                    @include media('tablet') {
                        height: 564px;
                    }
                    @include media('mobile') {
                        height: 300px;
                    }
                }
                .hero__prev-lg {
                    transform: translateY(0%);
                }
            }

            &.hide {
                opacity: 0;
                visibility: hidden;
            }

            img {
                overflow: hidden;
            }
        }

        &__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.5s linear;
            &.show {
                opacity: 1;
            }
        }

        &__rect {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100 * var(--vh));
            overflow: hidden;
        }

        &__video {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content {
            padding-block: 218px 120px;
            display: flex;
            align-items: flex-end;
            gap: 20px;
            justify-content: space-between;
            color: var(--white-color);

            @include media('mobile') {
                padding-block: 120px 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 80px;
            }

            &-col {
                &:first-child {
                    max-width: 816px;
                }

                &:last-child {
                    max-width: 355px;
                }
            }
        }

        &__title {
            font: 500 88px / 100% var(--ff-primary);
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 34px;

            span {
                color: var(--accent-color);
            }

            @include media('desktop') {
                font-size: 72px;
            }
            @include media('tablet') {
                font-size: 56px;
            }
            @include media('mobile') {
                font-size: 36px;
                margin-bottom: 24px;
            }
        }

        &__description {
            font: 400 20px / 160% var(--ff-secondary);
            max-width: 343px;
            margin-bottom: 74px;

            @include media('tablet') {
                font-size: 16px;
            }
            @include media('mobile') {
                font-size: 14px;
                margin-bottom: 40px;
            }
        }

        &__subtitle {
            font: 500 24px / 130% var(--ff-primary);
            text-transform: uppercase;

            @include media('tablet') {
                font-size: 22px;
            }
            @include media('mobile') {
                font-size: 18px;
            }
        }
    }
}
