@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .projects {
        background: url('../images/bg-projects.jpg') no-repeat center center /
            cover;
        position: relative;
        padding-block: var(--section-padding-lg);
        color: var(--light-grey);

        &::after {
            content: '';
            inset: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #070707 -1.17%, #001208 100%);
            opacity: 0.7;
        }

        .container {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 20px;
        }

        &__head {
            display: flex;
            align-items: center;
            gap: 56px;
            margin-bottom: 64px;
        }

        &__content {
            padding-block: 50px;
            display: flex;
            flex-direction: column;
        }

        &__subtitle {
            font: 500 32px / 110% var(--ff-primary);
            text-transform: uppercase;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__thumb {
            max-width: 643px;
            height: 744px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__cta {
            margin-top: auto;
            width: max-content;
        }
    }
}
