@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html,
body {
    display: flex;
    flex-direction: column;
}

body {
    overflow-anchor: none;
    font: 400 16px/1.5 var(--ff-secondary);
    color: var(--black-color);
    background: var(--light-grey);

    &:not(:has(.main--home)) {
        .header {
            // position: sticky;
            // overflow: visible;
            // top: 0;
            background: var(--light-grey);
            color: var(--black-color);
            border-color: #dfdfdf;

            &--transparent {
                // background: transparent;
                border-color: rgba(7, 7, 7, 0.1);

                .header__lang {
                    &::after,
                    &::before {
                        background: rgba(7, 7, 7, 0.1);
                    }
                }
            }

            &__lang {
                &::after,
                &::before {
                    background: #dfdfdf;
                }
            }

            &__logo {
                svg {
                    color: var(--black-color);
                }
            }

            &__menu {
                &-btn {
                    &::after,
                    &::before {
                        background: var(--black-color);
                    }
                }
            }
        }
    }
}

main {
    flex: 1;
}

button {
    @include reset_button;
    display: flex;
}

a {
    @include reset_link;
}

.container {
    max-width: 1520px;
    width: 100%;
    padding-inline: 20px;
    margin: 0 auto;

    &--lg {
        max-width: 1580px;
    }
}

.container--right {
    padding-left: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );

    @media (max-width: 1510px) {
        & > div {
            padding-left: 20px;
        }
    }
}

.container--left {
    padding-right: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );
}

section {
    @include media('mobile') {
        scroll-margin-top: 56px;
    }
}

.h2 {
    font: 500 72px / 110% var(--ff-primary);
    letter-spacing: -1px;
    text-transform: uppercase;

    span {
        color: var(--accent-color);
    }
    @include media('desktop') {
        font-size: 56px;
    }
    @include media('tablet') {
        font-size: 40px;
    }
    @include media('mobile') {
        font-size: 32px;
    }
}

.bg-thumbnail {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
