:root {
    --container-width: 1520px;
    --container-padding: 20px;

    --ff-primary: 'Halvar', sans-serif;
    --ff-secondary: 'Helvetica', sans-serif;

    --light-grey: #faf8ff;
    --dark-grey: #343434;
    --white-color: #fff;
    --black-color: #070707;
    --accent-color: #40b686;

    --section-padding: 128px;
    --section-padding-lg: 164px;
}

@media (max-width: 991px) {
    :root {
        --section-padding: 85px;
        --section-padding-lg: 110px;
    }
}

@media (max-width: 767px) {
    :root {
        --section-padding: 64px;
        --section-padding-lg: 82px;
    }
}
