@forward 'hero';
@forward 'advantages';
@forward 'charts';
@forward 'preview';

.main--investors {
    .assistant {
        .form-box {
            box-shadow: none;
            padding: 0;
            max-width: 100%;
            &__field {
                max-width: 515px;
            }
        }
    }
}
