@use '../base/media' as *;
@use '../base/mixins' as *;

.accent-btn {
    width: max-content;
    align-items: center;

    .text-wrapper {
        font: 400 18px / 100% var(--ff-secondary);
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 22px 47px;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        position: relative;
        border-color: var(--black-color);
        @include transitions (.3s);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            background: var(--accent-color);
            @include transitions(0.3s);
        }

        span {
            display: block;
            position: relative;
            z-index: 2;
            @include transitions(0.3s);
        }
    }

    .img-wrapper {
        overflow: hidden;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        @include transitions(0.3s);

        &__items {
            overflow: hidden;
            position: relative;
            width: 24px;
            height: 24px;
            img {
                width: 100%;
                height: 100%;
                @include transitions(0.3s);
            }
        }
    }
    @include transitions(0.3s);
    @include hover {
        .img-wrapper {
            background: #339e72;
        }

        .text-wrapper {
            border-color: var(--accent-color);

            &::before {
                width: 100%;
            }

            span {
                color: var(--light-grey);
            }
        }
    }
}
