@use '../base/media' as *;
@use '../base/mixins' as *;

.blog-card {
    flex-direction: column;
    gap: 20px;

    @include media('mobile') {
        gap: 12px;
    }

    &__row {
        &:first-child {
            position: relative;
            height: 372px;

            @include media('mobile') {
                height: 350px;
            }

            &::after {
                pointer-events: none;
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: #070707;
                @include transitions(0.3s);
            }
        }
    }

    &__cta {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        opacity: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: var(--accent-color);
        @include transitions(0.3s);

        svg {
            width: 28px;
            height: 28px;
            display: inline-flex;
            color: var(--light-grey);
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transitions(0.3s);
        }
    }

    &__status {
        z-index: 2;
        font: 400 16px / 100% var(--ff-secondary);
        position: absolute;
        display: inline-flex;
        top: 20px;
        left: 20px;
        padding: 8px 12px;

        @include media('mobile') {
            font-size: 14px;
            top: 10px;
            left: 10px;
        }
    }

    &__date {
        font: 400 18px / 100% var(--ff-secondary);
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;
        color: var(--dark-grey);

        @include media('mobile') {
            font-size: 16px;
            margin-bottom: 12px;
        }

        &::before {
            content: '';
            display: inline-flex;
            width: 12px;
            height: 12px;
            margin-top: -4px;
            background: var(--accent-color);
        }
    }

    &__title {
        font: 500 18px / 100% var(--ff-primary);
        text-transform: uppercase;
        letter-spacing: -1px;
        @include transitions(0.3s);

        @include media('mobile') {
            font-size: 16px;
        }
    }

    &--news {
        .blog-card__status {
            background: #eddf1b;
        }
    }

    &--credit {
        .blog-card__status {
            background: #40b686;
            color: #fff;
        }
    }

    &--stock {
        .blog-card__status {
            background: #de3d3d;
            color: #fff;
        }
    }

    @include hover {
        .blog-card__cta {
            transform: translate(-50%, -50%);
            opacity: 1;
        }

        .blog-card__row {
            &::after {
                opacity: 0.4;
            }
        }

        .blog-card__title {
            color: var(--accent-color);
        }

        .blog-card__thumb {
            img {
                transform: scale(1.1);
            }
        }
    }
}
