@use '../base/media' as *;
@use '../base/mixins' as *;

.partners {
    margin-bottom: var(--section-padding);
    &__head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 48px;

        @include media('tablet') {
            margin-bottom: 35px;
        }
        @include media('mobile') {
            margin-bottom: 24px;
        }
    }

    &__title {
        max-width: 816px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 24px;

        @include media('tablet') {
            gap: 16px;
        }

        @include media('mobile') {
            gap: 12px;
            display: none;
        }

        &-btn {
            padding: 15px;
            position: relative;
            overflow: hidden;
            border: 1px solid rgba(7, 7, 7, 0.2);
            color: var(--black-color);

            @include media('tablet') {
                padding: 10px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                transform: translate(-100%, 100%);
                z-index: -1;
                background: var(--accent-color);
                @include transitions(0.3s);
            }

            @include transitions(0.3s);
            @include hover {
                border-color: var(--accent-color);
                color: var(--white-color);

                &::after {
                    transform: translate(0%, 0%);
                }
            }

            svg {
                width: 32px;
                height: 32px;
                display: inline-flex;
                flex-shrink: 0;
                color: inherit;
                @include transitions(0.3s);

                @include media('tablet') {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    &__content {
        padding-block: 48px;
        border-top: 1px solid rgba(7, 7, 7, 0.2);
        border-bottom: 1px solid rgba(7, 7, 7, 0.2);

        @include media('tablet') {
            padding-block: 35px;
        }
        @include media('mobile') {
            padding-block: 20px;
        }
    }

    .gall-box {
        width: 100%;
        padding: 11px 54px;
        border: 1px solid rgba(7, 7, 7, 0.2);

        img {
            width: 229px;
            margin: 0 auto;
        }

        @include media('mobile') {
            padding: 10px;

            img {
                width: 150px;
            }
        }
    }
}
