@use '../base/media' as *;
@use '../base/mixins' as *;

.header {
    z-index: 10;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 82px;
    padding-block: 12px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--light-grey);
    @include transitions(0.3s);

    @include media('tablet') {
        height: auto;
        padding-block: 10px;
    }

    @include media('mobile') {
        padding: 0;
    }

    &--scrolled,
    &--transparent {
        border-color: rgba(7, 7, 7, 0.1);
        color: var(--black-color);

        .header__logo {
            svg {
                color: var(--black-color);
            }
        }

        .header__lang {
            &::after,
            &::before {
                background: rgba(7, 7, 7, 0.1);
            }
        }

        .header__menu {
            &-btn {
                &::after,
                &::before {
                    background: var(--black-color);
                }
            }
        }
    }

    &--scrolled {
        background: var(--light-grey);
    }

    &--transparent {
        background: transparent;
    }

    .container {
        @include media('tablet') {
            padding-inline: 12px;
        }
    }

    &__panel {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        max-width: 179px;
        flex-shrink: 0;

        svg {
            width: 100%;
            color: var(--white-color);
            @include transitions(0.3s);
        }

        @include media('tablet') {
            max-width: 150px;
        }

        @include media('mobile') {
            max-width: 90px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__call {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 47px;

        @include media('desktop') {
            gap: 12px;
            margin-right: 15px;
        }
        @include media('mobile') {
            display: none;
        }

        a {
            font: 400 18px / 100% var(--ff-secondary);
            letter-spacing: 1px;
            text-transform: uppercase;
            @include transitions(0.3s);

            @include media('tablet') {
                font-size: 14px;
            }
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-right: 35px;
        padding-inline: 47px;
        position: relative;
        &::after,
        &::before {
            content: '';
            position: absolute;
            height: 84px;
            width: 1px;
            pointer-events: none;
            background: rgba(250, 248, 255, 0.1);
            @include transitions(0.3s);

            @include media('tablet') {
                height: 77px;
            }
            @include media('mobile') {
                height: 56px;
            }
        }

        &::after {
            left: 0;
        }

        &::before {
            right: 0;
        }

        @include media('desktop') {
            padding-inline: 15px;
            gap: 12px;
            margin-right: 15px;
        }

        @include media('mobile') {
            padding-inline: 10px;
            gap: 8px;
            margin-right: 10px;
        }

        &-link {
            font: 400 18px / 100% var(--ff-secondary);
            letter-spacing: 1px;
            text-transform: uppercase;
            opacity: 0.3;
            @include transitions(0.3s);

            &.lang--active {
                opacity: 1;
            }

            @include media('tablet') {
                font-size: 14px;
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 18px;
        color: inherit;
        @include transitions(0.3s);
        @include media('tablet') {
            gap: 12px;
        }
        @include media('mobile') {
            gap: 0;
        }

        &-text {
            font: 400 18px / 100% var(--ff-secondary);
            letter-spacing: 1px;
            text-transform: uppercase;
            @include transitions(0.3s);

            @include media('tablet') {
                font-size: 14px;
                line-height: 120%;
            }
            @include media('mobile') {
                display: none;
            }
        }

        &-btn {
            width: 52px;
            height: 23px;
            display: flex;
            position: relative;

            &::after,
            &::before {
                content: '';
                height: 1px;
                width: 48px;
                position: absolute;
                border-radius: 2px;
                left: 50%;
                transform: translateX(-50%) rotate(0deg);
                background: var(--white-color);
                @include transitions(0.3s);

                @include media('mobile') {
                    width: 30px;
                }
            }

            &::after {
                top: 6px;
            }

            &::before {
                bottom: 8px;
            }
        }

        &.transformed {
            .header__menu-btn {
                &::after {
                    transform: translateX(-50%) rotate(45deg);
                    top: 14px;
                }

                &::before {
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
        }
    }
}
