@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--services {
    .benefits {
        @include media('tablet') {
            margin-bottom: 32px;
        }
        &__cards {
            display: flex;
            flex-direction: column;
            gap: 64px;
            counter-reset: card;

            @include media('tablet') {
                gap: 32px;
            }

            @include media('mobile') {
                gap: 20px;
            }
        }

        &__card {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            padding-bottom: 64px;
            gap: 20px;
            counter-increment: card;
            position: relative;

            @include media('tablet') {
                gap: 0;
                padding-bottom: 35px;
            }
            @include media('mobile') {
                padding-bottom: 20px;
            }

            &::after {
                content: '';
                width: 0;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: var(--dark-grey);
                @include transitions(0.7s);
            }

            &:nth-child(odd) {
                flex-direction: row;

                @include media('mobile') {
                    flex-direction: column;
                }

                .benefits__card-inner {
                    &::before {
                        right: 0;
                    }
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
                gap: 0;

                @include media('mobile') {
                    flex-direction: column;
                }

                .benefits__card-inner {
                    &::before {
                        left: 0;
                    }
                    &:first-child {
                        padding-left: 88px;
                        padding-right: 0;

                        @include media('tablet') {
                            padding-left: 20px;
                        }
                        @include media('mobile') {
                            padding-left: 0;
                        }

                        .benefits__card-thumb::after {
                            right: auto;
                            left: 40px;

                            @include media('tablet') {
                                left: 20px;
                            }
                            @include media('mobile') {
                                left: 15px;
                            }
                        }
                    }

                    &:last-child {
                        padding-left: 0;
                        padding-right: 68px;

                        @include media('tablet') {
                            padding-right: 20px;
                        }
                    }
                }
            }

            &-inner {
                width: 100%;

                @include media('tablet') {
                    width: 50%;
                }

                @include media('mobile') {
                    width: 100%;
                }

                &:first-child {
                    padding-right: 88px;
                    height: 580px;
                    overflow: hidden;
                    transition: height 0.7s linear;
                    position: relative;

                    @include media('tablet') {
                        padding-right: 20px;
                    }

                    @include media('mobile') {
                        height: 350px;
                        padding-right: 0;
                    }

                    &::before {
                        content: '';
                        height: 0;
                        width: 0.5px;
                        bottom: 0;
                        top: auto;
                        position: absolute;
                        background: var(--dark-grey);
                        @include transitions(0.7s);

                        @include media('mobile') {
                            display: none;
                        }
                    }

                    .benefits__card-thumb {
                        max-width: 652px;
                        height: 100%;
                        position: relative;
                        display: grid;
                        grid-template-rows: 0fr;
                        @include transitions(0.7s);

                        @include media('mobile') {
                            max-width: 100%;
                        }

                        &::after {
                            content: '';
                            display: inline-flex;
                            position: absolute;
                            width: 64px;
                            height: 64px;
                            bottom: 40px;
                            right: 40px;
                            transform: scale(0);
                            background: var(--accent-color);
                            @include transitions(0.7s);

                            @include media('tablet') {
                                bottom: 20px;
                                right: 20px;
                                width: 45px;
                                height: 45px;
                            }
                            @include media('mobile') {
                                bottom: 15px;
                                right: 15px;
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }

                &:last-child {
                    padding-left: 68px;

                    @include media('tablet') {
                        padding-left: 20px;
                    }
                    @include media('mobile') {
                        padding-left: 0px;
                    }
                }
            }

            &-thumb {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }

            &-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
                width: 100%;
                max-width: 652px;
                transform: translateY(10%);
                opacity: 0;
                @include transitions(0.7s);
            }

            &-row {
                &:last-child {
                    margin-top: auto;
                }
            }

            &-title {
                font: 500 40px / 100% var(--ff-primary);
                text-transform: uppercase;
                letter-spacing: -1px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include media('mobile') {
                    flex-direction: row;
                    padding-top: 20px;
                    align-items: flex-end;
                    font-size: 20px;
                    line-height: 120%;
                    gap: 12px;
                    margin-bottom: 20px;
                }

                &::before {
                    content: counter(card, decimal-leading-zero);
                    font: 500 32px / 100% var(--ff-primary);
                    text-transform: uppercase;
                    color: var(--accent-color);
                }
            }

            &-descr {
                font: 400 18px / 160% var(--ff-secondary);
                margin-bottom: 32px;
                color: var(--dark-grey);

                @include media('mobile') {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }

            &._animated {
                &::after {
                    width: 100%;
                }

                .benefits__card-thumb {
                    grid-template-rows: 1fr;
                }

                .benefits__card-inner {
                    &::before {
                        height: 100%;
                    }
                }

                .benefits__card-info {
                    opacity: 1;
                    transform: translateY(0);
                }

                .benefits__card-thumb::after {
                    transform: scale(1);
                }
            }
        }
    }
}
