@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--contact {
    .content {
        max-width: 2000px;
        margin: 0 auto;
        padding-top: 84px;
        margin-bottom: var(--section-padding);

        .container--right {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 20px;
        }

        &__about {
            padding-top: 112px;
            max-width: 680px;
            width: 100%;
            border-bottom: 1px solid var(--dark-grey);
        }

        &__title {
            margin-bottom: 40px;
        }

        &__cta {
            margin-bottom: 40px;
        }

        &__link {
            font: 400 32px / 100% var(--ff-primary);
            letter-spacing: -1px;
            text-transform: uppercase;
            display: flex;
            width: max-content;

            &.mb--sm {
                margin-bottom: 40px;
            }

            &.mb--lg {
                margin-bottom: 64px;
            }

            @include transitions(0.3s);
            @include hover {
                color: var(--accent-color);
            }
        }

        &__description {
            &:first-of-type {
                margin-bottom: 20px;
            }
            &:last-of-type {
                margin-bottom: 32px;
            }
        }

        &__social {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px 40px;

            a {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 20px;
                width: max-content;
                @include transitions(0.3s);
                @include hover {
                    span {
                        &:first-child {
                            color: var(--accent-color);
                        }

                        &:last-child {
                            background: var(--accent-color);
                        }

                        svg {
                            color: var(--white-color);
                            &.ico-youtube {
                                path {
                                    &:last-child {
                                        color: var(--black-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            span {
                @include transitions(0.3s);
                &:first-child {
                    font: 500 20px / 100% var(--ff-primary);
                    letter-spacing: -1px;
                    text-transform: uppercase;
                }

                &:last-child {
                    display: flex;
                    width: 48px;
                    height: 48px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--accent-color);
                }
            }

            svg {
                display: inline-flex;
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                color: var(--black-color);
                @include transitions(0.3s);

                path {
                    @include transitions(0.3s);
                }

                &.ico-youtube {
                    path {
                        &:last-child {
                            color: var(--white-color);
                        }
                    }
                }
            }
        }

        &__map {
            position: relative;
            max-width: 950px;
            height: 880px;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: var(--black-color);
                opacity: 0;
                @include transitions(0.3s);
            }

            &::before {
                z-index: 2;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 52px;
                height: 62px;
                display: inline-flex;
                flex-shrink: 0;
                background: url('../images/icons/ico-pin.svg') no-repeat center
                    center;
                @include transitions(0.3s);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include hover {
                &::after {
                    opacity: 0.4;
                }

                &::before {
                    transform: translate(-50%, -70%);
                }
            }
        }
    }
}
