@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--projects {
    .other {
        margin-bottom: var(--section-padding-lg);

        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 48px 108px;

            @include media('tablet') {
                gap: 40px;
            }
            @include media('mobile') {
                gap: 20px;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
