@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--about {
    .hero {
        position: relative;
        max-width: 1920px;
        overflow: hidden;
        padding-top: 82px;
        margin: 0 auto var(--section-padding);

        @include media('tablet') {
            padding-top: 77px;
        }

        @include media('mobile') {
            padding-top: 57px;
        }

        .container--right {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 20px;

            @include media('tablet') {
                flex-direction: column-reverse;
            }
        }

        &__about {
            padding-top: 112px;
            display: flex;
            flex-direction: column;
            max-width: 680px;
            border-bottom: 1px solid var(--dark-grey);

            @include media('desktop') {
                max-width: 520px;
            }

            @include media('tablet') {
                padding: 0 20px 0;
                max-width: 100%;
            }

            &-row {
                &:last-child {
                    margin-top: auto;
                    padding-bottom: 82px;

                    @include media('tablet') {
                        padding-bottom: 45px;
                    }

                    @include media('mobile') {
                        padding-bottom: 32px;
                    }
                }
            }
        }

        &__thumb {
            height: 880px;
            max-width: 100%;
            max-width: 950px;
            width: 100%;

            @include media('tablet') {
                max-width: 100%;
                width: 100%;
                height: 440px;
            }

            @include media('mobile') {
                height: 350px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            margin-bottom: 32px;

            @include media('mobile') {
                margin-bottom: 20px;
            }
        }

        &__description {
            font: 400 18px / 160% var(--ff-secondary);
            color: var(--dark-grey);

            @include media('tablet') {
                margin-bottom: 32px;
            }

            @include media('mobile') {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        &__label {
            font: 400 18px / 100% var(--ff-secondary);
            margin-bottom: 20px;
            display: inline-flex;
            align-items: center;
            gap: 12px;
            color: var(--dark-grey);

            @include media('mobile') {
                font-size: 14px;
                gap: 8px;
            }

            &::before {
                content: '';
                display: inline-flex;
                width: 12px;
                height: 12px;
                margin-top: -4px;
                background: var(--accent-color);
            }
        }

        &__subtitle {
            font: 500 32px / 100% var(--ff-primary);
            text-transform: uppercase;
            letter-spacing: -1px;
            max-width: 543px;

            @include media('tablet') {
                max-width: 100%;
                font-size: 28px;
            }

            @include media('mobile') {
                font-size: 24px;
                max-width: 100%;
            }
        }
    }
}
